<div class="container">
    <div class="row">
        <div class="page-header">
            <h1>Процедуры</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <table class="table table-striped table-hover ">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Название</th>
                        <th>Время</th>
                        <th>Цена</th>
                        <th>Удалить процедуру</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="procedure in procedures">
                        <td>{{procedure.Id}}</td>
                        <td>{{procedure.Name}}</td>
                        <td>{{procedure.Time}}</td>
                        <td>{{procedure.Cost}}</td>
                        <td><a href="" ng-click="deleteProcedure(procedure.Id)">Удалить</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-6">
            <form class="form-horizontal" name="procedureForm">
                <fieldset>
                    <div class="form-group">
                        <div class="col-lg-2 col-lg-offset-9">
                            <button type="submit" ng-click="saveProcedure(newProcedure, procedureForm)" class="btn btn-success">Сохранить</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-lg-2 control-label">Название</label>
                        <div class="col-lg-10">
                            <input ng-model="newProcedure.name" type="text" class="form-control" id="name" autofocus required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-lg-2 control-label">Время</label>
                        <div class="col-lg-10">
                            <input ng-model="newProcedure.time" type="text" ng-pattern="/\d\d:\d\d:\d\d/" class="form-control" id="time" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="cost" class="col-lg-2 control-label">Цена</label>
                        <div class="col-lg-10">
                            <input ng-model="newProcedure.cost" type="number" class="form-control" id="cost" required>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
