<div class="container">
    <div class="row">
        <div class="page-header">
            <h1>Регистрация пользователя</h1>
        </div>
    </div>
</div>
    <div class="container">
        <div class="row" ng-show="viewForm == true">
            <div class="col-lg-8 col-lg-offset-2">
                <form class="form-horizontal" name="signUpForm">
                    <fieldset>
                        <div class="form-group">
                            <div class="col-lg-2 col-lg-offset-8">
                                <button type="submit" ng-click="register(loginData, signUpForm)" class="btn btn-success">Сохранить</button>
                            </div>
                            <div class="col-lg-2">
                                <button type="reset" ng-click="redirectToMainPage()" class="btn btn-default">На главную</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="UserName" class="col-lg-3 control-label">Логин</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control" id="UserName" placeholder="Логин" ng-model="loginData.userName" autofocus required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Email" class="col-lg-3 control-label">Email</label>
                            <div class="col-lg-9">
                                <input type="email" class="form-control" id="Email" placeholder="Email" ng-model="loginData.email" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Phone" class="col-lg-3 control-label">Телефон</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control" id="Phone" placeholder="Телефон" ng-model="loginData.phoneNumber" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Password" class="col-lg-3 control-label">Пароль</label>
                            <div class="col-lg-9">
                                <input type="password" class="form-control" id="Password" placeholder="Пароль" ng-model="loginData.password" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="ConfirmPassword" class="col-lg-3 control-label">Повторите пароль</label>
                            <div class="col-lg-9">
                                <input type="password" class="form-control" id="ConfirmPassword" placeholder="Повторите пароль" ng-model="loginData.confirmPassword" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-5 control-label">Дополонительная информация</label>
                        </div>
                        <div class="form-group">
                            <label for="FirstName" class="col-lg-3 control-label">Фамилия</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control" id="FirstName" placeholder="Фамилия" ng-model="loginData.lastName" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="LastName" class="col-lg-3 control-label">Имя</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control" id="LastName" placeholder="Имя" ng-model="loginData.firstName" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="MiddleName" class="col-lg-3 control-label">Отчество</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control" id="MiddleName" placeholder="Отчество" ng-model="loginData.middleName" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="PetName" class="col-lg-3 control-label">Кличка питомца</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control" id="PetName" placeholder="Кличка питомца" ng-model="loginData.petName" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Breed" class="col-lg-3 control-label">Порода питомца</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control" id="Breed" placeholder="Порода питомца" ng-model="loginData.breed" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Color" class="col-lg-3 control-label">Окрас питомца</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control" id="Color" placeholder="Окрас питомца" ng-model="loginData.color" required>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="row" ng-hide="viewForm == true">
            <div class="page-header">
                <h2>На ваш Email <small>{{loginData.email}}</small> отправлено письмо </h2>
            </div>
        </div>
    </div>
